.search {
  margin: auto;
  //width: 300px;
}
.middle-section
{
   padding: 2% 12%;
   background-color: #fff;
}

button.navbar-toggler.navbar-toggler-right {
  border-color: yellow;
}

h2
{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
p{
  font-size: 1.2rem;
}

.image1 {
  height: 35px;
}

.container-fluid {
  margin-top: 20px;
  padding: 5% 10%;
}

.detail {
  margin-top: 150px;
  color: #fff;
}

#title {
  //background: url("images/image2.png") center center cover no-repeat fixed;
  background-image: url('images/image2.png');
   background-repeat: no-repeat;
  //background-size: contain;
  background-position: center center;

}



h6,p,h4
{
  font-family: "Montserrat",sans-serif;
  font-weight: lighter;
  font-size: 0.8rem;
}
h4
{
  font-size: 1.5rem;
  font-weight: bold;
}
p{
  font-size: 1.2rem;
  font-weight: normal;
}
.n{
  margin: 2%;
}
.n1
{
  margin: 0.5%;
}
.container-fluid
{
  padding: 7% 15%;
  text-align: center;
}
.social-icon
{
  margin: 2%;
}
.cards
{
  padding: 1%;
}
@media only screen and (max-width: 1220px) {
  .eye
  {

    visibility: hidden;

  }
  /* .views
  {
    visibility: hidden;

  }
  .share
  {
    visibility: hidden;

  } */
}
@media only screen and (max-width: 1064px) {

  .views
  {
    visibility: hidden;
  }
  .eye
  {
    visibility: hidden;
  }
}
@media only screen and (max-width: 990px) {

  .views
  {
    visibility: visible;
  }
  .eye
  {
    visibility: visible;
  }
  .recommended
  {
    text-align: left;
  }
  .location{
    text-align: left;
  }
}

}

@media only screen and (max-width: 382px) {

  .eye
  {
    visibility: hidden;
  }
  .recommended
  {
    text-align: left;
  }
  .location{
    text-align: left;
  }
}
@media only screen and (max-width: 330px) {

  .eye,.views,.share
  {
    visibility: hidden;
  }
  .recommended
  {
    text-align: left;
  }
  .location{
    text-align: left;
  }
}

.card-image
{ position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  bottom: 8px;
  margin: 0;
  padding: 0;
}
.move
{
  position: absolute;
bottom: 8px;
margin: 0;
left: 70px;
padding: 0;
}
.card-image1
{
  position: relative;
  //  left: 0px;
  border: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.move1
{
  position: relative;
  left: 100px;
  bottom: 30px;
}
.recommended
{
  text-align: center;
  margin-top: 50px;
}
.location
{
  text-align: center;
}
/* .groups{
  padding: 15%;
} */
.move2
{
  position: relative;
  left: 200px;
  bottom: 63px;
  border-radius: 30%;
}
.cardspecial
{
  border: none;
}
.dots
{
  transform: rotate(90deg);
  float: right;
  position: relative;
  bottom: 35px;
  color: grey;
}
.eye
{

  position: absolute;
  right: 100px;
  bottom: 8px;
  margin: 0;
  padding: 0;
  color: grey;
}
.share
{

  position: absolute;
  right: 10px;
  bottom: 8px;
  margin: 0;
  padding: 0;
  color: grey;

}

.big{
  position: relative;
}

.views
{
  font-size: 0.6rem;

  position: absolute;
right: 30px;
bottom: 8px;
  padding: 0;
  margin: 0;
  color: grey;
}
.views1
{

  font-size: 0.6rem;
  color: grey;
}
 .card1
{
  position: relative;
}
 .card2
{

  border: none;

}
 .card3
{
  position: relative;

}

/* @media (max-width: 1028px) {

  .card3
  {
    width: 24rem;
  }
  .cardd
  {
    text-align: center;
  }
}  */

/* .cards
{
  margin: 0.5%;
}
